@CHARSET "ISO-8859-1";

body {
	font-family: Arial, sans serif;
	margin: 20px;
	padding: 20px;
	border-style: solid;
	border-color: #0000ff;
}

div#header {
	background-color: #0000ff;
	color: white;
	height: 50px;
	clear: both;
}

div#menu {
	clear: both;
	float: left;
	width: 20%;
	height: 400px;
}

div#body {
	float: left;
	width: 80%;
	height: 400px;
}

div#footer {
	clear: both;
	border-top: thin;
	border-color: #0000ff;
	font-size: small;
}

li {
	background-color: lightBlue;
	width: 100px;
	list-style-type: none;
}

input[type="submit"] {
	margin: 15;
	padding: 15;
	background-color: lightBlue; 
	font-weight: bold;
	border-style: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.fieldError {
	color: red;
	font-size: small;
	font-weight: bold;
}
